@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* body */

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: "Zen Maru Gothic";
    }
    body {
        background: linear-gradient(160deg, #168af7, #e1eefc, #88bdf6);
        background-attachment: fixed;
        flex-direction: column;
        height: 100%;
        min-height: 100vh;
        padding-top: 180px;
        padding-bottom: 180px;
    }

/* header nav */

    header {
      position: fixed;
      top: 0;
      width: 100%;
      padding: 50px 15px 15px;
      /* background-color: #D5E9FD; */
      background-color: #e1eefc;
      border-radius:  0 0 20px 20px;
      z-index: 100;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

/* bottom nav */

    .bottom-nav {
      position: fixed;
      bottom: 0%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: #e1eefc;
      padding: 30px 0;
      border-radius: 20px 20px 0 0;
      z-index: 100;
    }
    .bottom-nav button {
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
    }
    .icon img{
      width: 25px;
      height: 25px;
      z-index: 100;
    }

/* home.html */

    #home .APP{
      display: flex;
      align-items: center;
    }
    #home .APP button{
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
    }
    #home .appicon img {
      width: 45px;
      height: 45px;
      margin-right: 10px;
    }
    #home .appname {
      font-size: 30px;
      color: #2164d6;
      font-weight: 900;
      text-shadow: 1px 1px #2164d6;
    }
    #home .header .icon img {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    #home .tabs{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 10px;
      padding-top: 10px;
    }
    #home .status {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 20px;
      padding: 6px 14px;
      background-color: #ffffff;
      color: #000;
      cursor: pointer;
    }
    #home .status.active {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 20px;
      padding: 6px 14px;
      background-color: #2172c9;
      color: #fff;
    }


    #home .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      width: 100%;
      padding: 0px 30px 30px 30px;
      justify-content: center;
    }
    #home .card {
      background-color: #fff;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #555;
      aspect-ratio: 2/3;
      cursor: pointer;
      border: none;
      outline: none;
    }
    #home .card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    #home .cardtitle {
      display: flex;
      color: #333;
      font-weight: 800;
      line-height: 200%;
    }

/* search.html */

    #search .APP {
      display: flex;
      align-items: center;
    }
    #search .APP button{
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
    }
    #search .appicon img {
      width: 45px;
      height: 45px;
      margin-right: 10px;
    }
    #search .appname {
      font-size: 30px;
      font-weight: 900;
      color: #2164d6;
      text-shadow: 1px 1px #2164d6;;
    }
    #search .header .icon img {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    #search .tabs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 10px;
      padding-top: 10px;
    }
    #search .status {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 20px;
      padding: 6px 14px;
      background-color: #ffffff;
      color: #000;
      cursor: pointer;
    }
    #search .status.active {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 20px;
      padding: 6px 14px;
      background-color: #2172c9;
      color: #fff;
    }
    #search .searchform {
        display: flex;
        align-items: center;
        gap: 5px;
        padding-left:60px;
    }
    #search .search {
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 0px 30px 30px 30px;
    }
    #search .icon{
        width: 35px;
        height: 35px;
        border: none;
        outline: none;
        background: none;
        padding: 0;
        cursor: pointer;
    }
    #search .search-box{
        width: 200px;
        height: 30px;
        padding: 0px;
        font-size: 15px;
        border: 0px solid #000000;
        border-radius: 10px;
        background-color: #ffffff;
        outline: none;
    }
    #search .grid-g {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      width: 100%;
      padding: 20px;
    }
    #search .category{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align:center;
      border: none;
      border-radius: 20px;
      padding: 10px;
      margin:30px auto 10px auto;
      width:fit-content;
      background-color: #696969;
      color: #ffffff;
    }
    #search .card-g {
      background-color: #ffffff;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #555;
      aspect-ratio: 7/3;
      cursor: pointer;
      border: none;
      outline: none;
    }
    #search .cardtitle-g {
      display: flex;
      color: #333;
      font-weight: 800;
      line-height:200%;
    }

    #search .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    #search .card {
        display: flex;
        width:360px;
        flex-direction: row;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        border: none;
    }
    #search .card img {
        width: 160px;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        margin-right: 15px;
    }
    #search .cardinfo {
        display: flex;
        flex-direction: column;
    }

    #search .cardtitle {
        font-weight: 700;
        color: #333;
        margin-bottom: 5px;
    }

    #search .cardyear,
    #search .cardgenre {
        font-size: 0.9rem;
        color: #555;
    }
    #targeArea{
        display: none;
    }
    #search-result__list span{
        display: block;
    }
    #result ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .anime-item {
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .anime-item b {
        font-size: 1.1em;
        margin-right: 5px;
    }
    .anime-img {
        width: 80px;
        height: auto;
        border-radius: 5px;
    }
    .search {
        display: block;
        color: #666;
        font-style: italic;
        margin-top: 10px;
    }
    .search-result {
        margin-top: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search-result .search {
        text-align: center;
        color: #666;
        font-style: italic;
        margin-top: 10px;
        font-size: 16px;
    }

/* genre.html */

    #genre .APP {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    #genre .APP button{
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
    }
    #genre .left {
      display: flex;
      /*align-items: center;*/
    }
    #genre .appicon img {
      width: 45px;
      height: 45px;
      margin-right: 10px;
    }
    #genre .appname {
      font-size: 30px;
      font-weight: 900;
      color: #2164d6;
      text-shadow: 1px 1px #2164d6;;
    }
    #genre .header .icon img {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    #genre .tabs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 10px;
      padding-top: 30px;
    }
    #genre .status {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 20px;
      padding: 6px 14px;
      background-color: #ffffff;
      color: #000;
      cursor: pointer;
    }
    #genre .status.active {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 20px;
      padding: 6px 14px;
      background-color: #1286da;
      color: #fff;
    }
    #genre .search {
      display:block;
      text-align: center;
      gap: 5px;
      padding: 30px 30px 30px 30px;
    }
    #genre .category{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align:center;
      border: none;
      border-radius: 20px;
      padding: 10px;
      margin:30px auto 10px auto;
      width:fit-content;
      background-color: #696969;
      color: #ffffff;
    }
    #genre .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      width: 100%;
      padding: 30px 30px 30px 30px;
      justify-content: center;
    }
    #genre .centered-message {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        width: 100%;
        padding: 30px 30px 30px 30px;
        min-height: 200px;
    }
    #genre .card {
      background-color: #fff;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #555;
      aspect-ratio: 2/3;
      cursor: pointer;
      border: none;
      outline: none;
    }
    #genre .card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    #genre .cardtitle {
      display: flex;
      color: #333;
      font-weight: 800;
      line-height: 200%;
    }
/* anime-list */

        #anime-list .APP{
          display: flex;
          align-items: center;
        }
        #anime-list .APP button{
          border: none;
          background: none;
          padding: 0;
          cursor: pointer;
        }
        #anime-list .appname {
          font-size: 30px;
          color: #2164d6;
          font-weight: 900;
          text-shadow: 1px 1px #2164d6;
        }
        #anime-list .tabs{
          display: grid;
          align-items: center;
          gap: 10px;
          padding-top: 10px;
        }
        #anime-list .status {
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          border-radius: 20px;
          padding: 10px 30px;
          background-color: #ffffff;
          color: #000;
          cursor: pointer;
        }
        #anime-list .status.active {
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          border-radius: 20px;
          padding: 6px 14px;
          background-color: #2172c9;
          color: #fff;
        }







        /* howto */

#howto input[type="checkbox"]:checked + .title ~ .text{
  max-height: 1000px;
  padding: 10px 0;
}

#howto .aaa{
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(6px);
  border-radius: 14px;
  margin: 20px;
  padding: 15px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

#howto .title {
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  padding-bottom: 10px;
}

#howto .title img{
    width:20px;
    height:20px;
    margin-right:10px;
}

#howto .text{
    margin-left:10px;
    font-size: 17px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 0;
}

#howto .note{
  margin: 20px;
  padding: 15px;
  margin-top: 24px;
  font-size: 17px;
  color: #666;
}



/* howto */

#howto .text {
  display: none;
}

#howto input[type="checkbox"]:checked + .title ~ .text{
  display: block;
  max-height: 1000px;
}

#howto .aaa{
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(6px);
  border-radius: 14px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  margin: 20px;
  padding:15px;
}

#howto .title {
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 0px;
  padding:15px;
}


#howto .text{
    font-size: 17px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    margin: 15px;
    padding:0px;
}




#howto .title img{
    width:20px;
    height:20px;
    margin-right:10px;
}

#howto .note{
  margin-top: 24px;
  font-size: 17px;
  color: #666;
  margin: 20px;
  padding:15px;
}